@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Base Element CSS */
* {
    /* border: 1px solid red; */
    font-family: Roboto;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

h1 {
    font-size: 48px;
    font-weight: 900px;
    color: #F9FAF8;
}

h2 {
    font-size: 36px;
    font-weight: 900;
    color:#1f2937;
}

ul {
    display: flex;
    list-style: none;
    gap: 16px;
    margin-left: auto;
    color: #E5E7EB;
}

button {
    border-radius: 16px;
    border-color: #3882F6;
    padding: 8px 16px;
    background-color: #3882F6;
    color: #E5E7EB;
}

.alt {
    border-color: #E5E7EB;
}

.header, .content, .footer {
    background-color: #1F2937;
}

.content p, .container {
    color: #E5E7EB;
}

.header {
    display: flex;
    padding: 16px;
}

.content {
    display: flex;
    justify-content: space-evenly;
    padding: 16px;
    gap: 16px;
}

#image-placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 300px;
    background-color: gray;
}

.information-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.information {
    display: flex;
    align-items: center;
    justify-content: center;
    gap:86px
}

.info-block {
    display: flex;
    flex-direction: column;
    width: 120px;
    align-items: center;
    overflow-wrap: normal;
    text-align: center;
}

.info-image {
    border: 4px solid #3882F6;
    border-radius: 16px;
}

.quote-section {
    background-color: #E5E7Eb;
    padding: 64px;
}

.quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 128px;
    font-size: 36px;
    font-weight: 300;
    color: #1F2937;
    text-align: center;
}

.author {
    align-self: flex-end;
    text-align: right;
    margin-right: 128px;
}

.container {
    display: flex;
    background-color: #3882F6;
}

.footer {
    display: flex;
}